.App {
    display: flex;
    justify-content: center;
}

.outer-bar {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    top: 30px;
    overflow: hidden;
}

.inner-bar {
    position: absolute;
    background-color: green;
    height: 100%;
    transition: width 1s ease-in;
}
